@import '../../../shared/style';

.homeBlocks {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: 50px;
  }
}

.catalogBlock {
  display: flex;
  @include paddingStandard;
  margin-top: 60px;
  justify-content: space-between;
}

.mediaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .iconBlock {
    display: flex;
    align-items: center;
    z-index: 2;

    .icon {
      display: flex;
      height: 36px;
      width: 36px;
      border-radius: 100%;
      font-size: 20px;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .mediaBlock {
    display: flex;
    z-index: 1;
    flex: auto;
    margin: 0 20px;
    height: 40vw;
  }

  .activeImg {
    display: flex !important;
  }

  .imgBlock {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;

    img {
      object-fit: cover;
      width: 100%;
      border-radius: inherit;
    }
  }
}

.aboutContainer {
  @include paddingStandard;
  line-height: 24px;

  .divider {
    display: block;
    height: 2px;
    width: 50px;
    background: $red;
    margin-bottom: 20px;
  }

  .aboutBock {
    display: grid;
    grid-template-columns: minmax(300px, 500px) minmax(300px, 1fr);
    grid-column-gap: 60px;
    margin-top: 20px;

    img {
      width: 100%;
      height: 100%;
    }

    .textAbout {
      padding: 20px 0;
      font-weight: 400;
    }


    .iconsblock {
      padding: 40px;
      display: flex;

      .iconText {
        color: $gray-200;
      }

      & > * {
        max-width: 260px;
        margin-right: 60px;
      }
    }

    .iconAbout {
      font-size: 40px;
    }
  }
}

.catalogContainer {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  & > * {
    line-height: 2.25;
    letter-spacing: 0.15px;
    text-align: right;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .activeCategory {
    display: block;
    height: 2px;
    width: 40px;
    background: $red;
    text-align: right;
  }

  .but {
    margin-top: 20px;
  }
}

.iconChar {
  font-size: 60px;
  color: $gray-100;
  margin-bottom: 20px;
}

.charsBlock {
  @include paddingStandard;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    display: flex;
    margin-left: 50px;
  }


  .border {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;

    .borderIcon {
      font-size: 100px;
    }
  }

  .icontext {
    padding: 10px;
    z-index: 4;
    text-transform: uppercase;
    max-width: 130px;

    margin: 20px 0 0 20px;
    background: white;
  }
}

.blog {
  background: $white-20;
  padding: 10px 0;
  @include paddingStandard;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 40px;

  .desc {
    display: flex;
    flex-direction: column;
    grid-column: 1;

    .buttonArt {
      margin-top: 10px;
      place-self: flex-end;
    }
  }

  .blockArticles {
    grid-column: 2/4;
    padding: 10px 0;
    display: grid;
    grid-template-columns:   repeat(3, minmax(100px, 350px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .article {
      display: flex;
      flex-direction: column;

      .titleArticle {
        min-height: 40px;
        margin-top: 10px;
      }

      & > *:first-child {
        flex-grow: 1;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .homeBlocks > * + * {
    margin-top: 20px;
  }

  .aboutContainer {
    .aboutBock {
      display: flex;
      flex-direction: column;

      .iconsblock {
        padding: 20px;
      }
    }
  }

  .blog {
    display: flex;
    flex-direction: column;

    .blockArticles {
      display: flex;
      flex-direction: column;
    }
  }
  .catalogBlock {
    flex-direction: column;
  }

  .charsBlock {
    display: grid;
    grid-template-columns:   repeat(2, auto);
    grid-row-gap: 20px;
    grid-column-gap: 40px;

    & > * {
      margin: 0;
    }

    .border {
      width: 50px;
      height: 50px;

      .borderIcon {
        font-size: 50px;
      }
    }

    .icontext {
      padding: 4px;
      max-width: 120px;
      margin: 10px 0 0 10px;
      font-size: 14px;
    }
  }

  .iconChar {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .catalogContainer {
    align-items: center;
    margin-top: 20px;
  }
}
