@import 'style';

:export {
  main-blue: $main-blue;
  white: $white;
  gray-10: $gray-10;
  gray-100: $gray-100;
  gray-100-10: $gray-100-10;
  gray-100-40: $gray-100-40;
  gray-300: $gray-300;
  gray-400: $gray-400;
  gray-500: $gray-500;
  black: $black;
  main-blue-40: $main-blue-40;
  main-green: $main-green;
  green-100: $green-100;
  red: $red
}