@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

@mixin paddingStandard {
  padding: 0 80px;
}


@mixin paddingStandard320 {
  padding: 0 10px;
}

$white: #e2e2e2;

$gray-10: #f9f9fd;
$gray-100: #9299a7;

$gray-100-10: rgba(146, 153, 167, 0.1);
$gray-100-40: rgba(146, 153, 167, .4);
$gray-300: #575963;
$gray-400: #34373d;
$gray-500: #222222;

$main-blue: #1976d2;
$main-blue-40: rgba(25, 118, 210, 0.4);

$main-green: rgba(27, 194, 3, 0.96);
$green-100: rgba(109, 170, 143, 0.96);

$red: #ea0505;
