.content {
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .count {
      font-weight: 300;
      font-size: 20px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    margin: 10px 0;

    .cards {
      font-size: 12px;
      grid-column-gap: 10px;
      margin: 10px;
      width: unset;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .header {
      margin: 10px 0;
      flex-direction: column;
      align-items: flex-start;

      .count {
        font-size: 14px;
      }

      .pagnt {
        padding: 0;

        & > * > * + * {
          margin: 0 5px;
        }
      }
    }
  }
}
