@import '../shared/style';

li, p {
  line-height: 1.5;
}

h4 {
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  margin: 5px 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #34373d;
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $gray-100;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background-color: #f9f9fd;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}

.isNotHome{
margin-top: 140px;
}
