@import '../style';

.root {
  border-radius: 0 !important;

  .area {
    display: flex !important;
    justify-content: flex-start;
    align-items: stretch;
  }

  & > * {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
  }

  width: 100%;
}

.media {
  height: 180px;
  overflow: hidden;
  position: relative;

  .img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: 0 90%;
    height: 100%;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }

  .isDoor {
    object-position: 50% 90% !important;
    object-fit: contain !important;
  }
}

.actions {
  position: absolute;
  display: flex;
  bottom: 0;
  top: auto;
  right: 0;
  background: rgba(255, 255, 255, 0.64);
  padding-left: 8px;
}

.content {
  place-self: flex-start;
  padding: 14px !important;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.56);
  min-height: 30px;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;

  .brand {
    font-size: 12px;
    color: $gray-40;
    margin-bottom: 4px;
    text-transform: uppercase;
  }


  .name {
    color: $gray-400;
    font-weight: 400;
  }

  .price {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;

    .unit {
      padding: 5px;
      font-size: 14px;
      font-weight: 300;
      color: #7f7f7f;
    }
  }
}

.call {
  font-size: 16px;
}

@media only screen and (max-width: 480px) {

  .content {
    padding: 8px !important;
    font-size: 12px;

    .collection, .name {
      font-size: 14px;
    }
  }
  .actions {
    padding: 4px !important;
  }
}
