@import '../../shared/style';

.content {
  @include paddingStandard;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  padding: 20px 0;
}

.header {
  background: rgb(246, 246, 246);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  @include paddingStandard;
  font-weight: 500;
}

.line {
  margin-top: 8px;
  display: block;
  height: 2px;
  width: 40px;
  background: #c41414;
}

.underLineText {
  font-weight: 300;
  margin-top: 40px;
}

@media only screen and (max-width: 480px) {
  .header, .content {
    padding: 0 10px;

    .article {
      .imgBlock {
        grid-column-start: unset;
      }
    }
  }

  .iframe {
    width: 100%;
    height: auto;
  }
}
