@import '../style';


@mixin menu {
  display: flex;
  padding: 10px 150px;

}

.containerHeader {
  //position: absolute;
  z-index: 100;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  .top {
    background: $white;
    @include menu;
    display: flex;
    justify-content: space-between;

    .name {
      font-family: oswald;
      font-size: 36px;
    }

    .red {
      color: $red;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .menu {
    background: $black;
    @include menu;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: .5px;


    a {
      color: $white;
      font-weight: 500;
    }

    .isActive {
      color: $red;
    }

    & > * + * {
      margin-left: 20px;
    }
  }
}


@media only screen and (max-width: 480px) {

  .containerHeader {
    .top {
      padding: 5px 10px;

      .name {
        font-size: 16pt;
      }

      .info{
        display: none;
      }
    }

    .menu {
      display: none;
    }
  }
}

